.row__b-margin-until-medium{
    margin-bottom: 1rem;
    content: "";
    clear: both;
    display: table;
}
.row--t-padding{
    margin-top: 100px;
    content: "";
    clear: both;
    display: table;
}

@media(min-width: 800px) {
    .row--gutters{
        padding-left: 40px;
        padding-right: 40px;
    }
    .row--gutters-small>div{
        padding-left: 15px;
        padding-right: 15px;
    }
    .row--gutters-large{
        padding-right: 100px;
    }
    .row__b-margin-until-medium{
        margin-bottom: 0;
    }
    .row__medium-4{   
        float: left;
        width: 33%;
    }
    .row__medium-8{
        float: left;
        width: 65%;
    }        
    .row__medium-6{
        float: right;
        width: 45%;
        margin-left: 40px;
    }
}
@media (min-width: 1000px) {
    .row__large-4{   
        float: left;
        width: 33%;
    }
}
/*Reglas para igual altura*/
.row--equal-height-at-large{
    @media(min-width:1000px) {
        display: flex;
    }
    .row--equal-height-at-large > div{
        float: none;
        display: flex;
    }        
}