
@media(min-width: 1000px){
    .table{
        width: 600px;
        height: 700px;    
        display: grid;
        box-sizing: border-box;
        text-align: center;
    }
    .table th{
        font: bold;
        font-size: 1.5rem;
    }
    .table__row{
        max-height: 50px;
        max-width: 100%;

    }
    .table__row__logo{
        width: 16%;
    }
    .table__row__cant{
        width: 25%;
        
    }
    .table__row__cant input{
        max-width: 80px;
        height: 30px;
        font-size: 1.5rem;
    }
    .table__row__unPrice{
        width: 20%;
        font-size: 1.5rem;     
    }
    .table__row__unPrice input{
        height: 30px;
 
        
    }
    .table__row__total{
        width: 25%;
        font-size: 1.5rem;
    }
    .table__row__total input{
        border: none;
        pointer-events:none;
    }
}