@import 'normalize.css';

@import '_global.css';
@import '_variables.css';
@import '_site-header.css';
@import '_calculadora.css';
@import '_table.css';
@import '_principal.css';
@import '_row.css';
@import '_wrapper.css';
@import '_page-section.css';
@import '_headline.css';
@import '_generic-content-container.css';
@import '_section-title.css';
@import '_feature-item.css';
@import '_site-footer.css';
@import '_principal.css';
@import '_social-icons.css';


.site-header{
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 1rem 0 1rem 0;
}
.site-header--is-expanded{
    background-color: rgba( $mainBlue , 0.6);
}

.site-header__menu-icon{
    width: 20px;
    height: 20px;
    
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 10px;
}
.site-header__menu-icon::before{
    position: absolute;
    content: "";
    width: 20px;
    border-bottom: 3px solid white;
    transform-origin: 0 0;
    transition: transform 0.3s ease-out;
}
.site-header__menu-icon__middle{
    padding-top: 6px;
    border-bottom: 3px solid white;
    transition: all 0.3s ease-out;
    transform-origin: 0 50%;
}
.site-header__menu-icon::after{
    position: absolute;
    content: "";
    width: 20px;
    padding-top: 3px;
    border-bottom: 3px solid white;
    transform-origin: 0 100%;
    transition: transform 0.3s ease-out;
}

.site-header__menu-icon--close-x::before{
    transform: rotate(41deg) scaleX(1.2) translateX(-1px);     
}
.site-header__menu-icon--close-x .site-header__menu-icon__middle{
    opacity: 0;
    transform: scaleX(0);
}
.site-header__menu-icon--close-x::after{
    transform: rotate(-41deg) scaleX(1.2) translateX(-2px) translateY(1px);     
}

.site-header__menu-content{
    opacity: 0;//display:none;
    transform:scale(1.5);
    transition: all 0.3s ease-out;
    position: relative;
    z-index: -10;

    padding-top:80px;
    text-align: center;
}
.site-header__menu-content .site-header__menu-content--is-visible{
    opacity: 1;//display: block;
    z-index: 1;
    transform: scale(1);
}
.site-header__button-container{
    float: none;
}
.site-header__logo{
    top:0;
    position: absolute;
    left: 50%;
}
.site-header__logo img{
    height: 73px;
}

@media(min-width: 800px) {
    .site-header{
        background-color: white;  
        position: fixed;  
    }
    .site-header__logo{
        left: auto;
    }
    .site-header__button-container{
        float: right;
    }
    .site-header__menu-content{
            opacity: 1;//display: block;
            z-index: 1;
            transform: scale(1);
            padding-top:0;
    }
}

@media(min-width: 1000px) {
    .site-header__menu-icon{
    display: none;
    }
}