@import './normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=PT+Serif:wght@400;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

/* VARIABLES */
:root {
    --header-footer : white;
    --resaltar: #d59541;
    --fondo:  rgba(230, 253, 247, 0.9);
}

/* GLOBAL */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #333;
    background-color: var(--fondo);
}
img{
    max-width: 100%;
    height: auto;
}
*{
    box-sizing: border-box; /*para que el browser calcule el padding dentro del ancho de cada div y no se lo agregue despues*/
}
a{
    color: var(--resaltar);
}

/* PRIMARY NAV */
.primary-nav{
    padding-top: 0.5rem;
}
.primary-nav--pull-right{
    float: none;
    text-align: center;
}
.primary-nav ul {
    margin: 0;
    padding: 0;
}
.primary-nav ul::after {
    content: "";
    clear: both;
    display: table;
}

.primary-nav li {
    list-style: none;
    display: inline-block;
    float: none;
    padding-right: 0.4rem;
}
.primary-nav a {
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    
    padding: 0.5rem 0.2rem;
    font-size: 0.8rem;
    background-color: rgba($mainBlue, .5);
}
@media (min-width: 800px) {
    .primary-nav{
        padding-top: 0;
    }
    .primary-nav--pull-right{
        float: right;
    }
    .primary-nav li {
        float: left;
        display: block;
        padding-right: 1.2rem;
    }
    .primary-nav a {
        font-size: 1rem;
        padding: 0.7rem 0;
        background-color: transparent;
    }
    .primary-nav a .is-current-link{
        color: #fabb69;
    }
}


/* SITE-HEADER */
.site-header{
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 1rem 0 1rem 0;
}

.site-header__menu-icon{
    width: 20px;
    height: 20px;
    
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 10px;
}
.site-header__menu-icon::before{
    position: absolute;
    content: "";
    width: 20px;
    border-bottom: 3px solid white;
    transform-origin: 0 0;
    transition: transform 0.3s ease-out;
}
.site-header__menu-icon__middle{
    padding-top: 6px;
    border-bottom: 3px solid white;
    transition: all 0.3s ease-out;
    transform-origin: 0 50%;
}
.site-header__menu-icon::after{
    position: absolute;
    content: "";
    width: 20px;
    padding-top: 3px;
    border-bottom: 3px solid white;
    transform-origin: 0 100%;
    transition: transform 0.3s ease-out;
}

.site-header__menu-icon--close-x::before{
    transform: rotate(41deg) scaleX(1.2) translateX(-1px);     
}
.site-header__menu-icon--close-x .site-header__menu-icon__middle{
    opacity: 0;
    transform: scaleX(0);
}
.site-header__menu-icon--close-x::after{
    transform: rotate(-41deg) scaleX(1.2) translateX(-2px) translateY(1px);     
}

.site-header__menu-content{
    opacity: 0;//display:none;
    transform:scale(1.5);
    transition: all 0.3s ease-out;
    position: relative;
    z-index: -10;

    padding-top:80px;
    text-align: center;
}

.site-header__menu-content .site-header__menu-content--is-visible{
    opacity: 1;//display: block;
    z-index: 1;
    transform: scale(1);
}
.site-header__button-container{
    float: none;
}
.site-header__logo{
    top:0;
    position: absolute;
    left: auto;
}
.site-header__logo img{
    height: 73px;
}

@media(min-width: 800px) {
    .site-header{
        background-color: var(--header-footer);  
        position: fixed;  
    }
    .site-header__logo{
        left: 14%;
    }
    .site-header__button-container{
        float: right;
    }
    .site-header__menu-content{
            opacity: 1;//display: block;
            z-index: 1;
            transform: scale(1);
            padding-top:0;
    }
    
}

@media(min-width: 1000px) {
    .site-header__menu-icon{
    display: none;
    }
    .site-header__menu-content__social-links{
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: center;
        
    }
    .site-header__menu-content__social-links a{
        font-size: 1.5rem;
        padding: 0.5rem 0.8rem;
    }
}

/* PRINCIPAL */
.principal{
    display: flex;
    flex-direction: row;
    padding-top: 73px;
}
.principal__publicidad{
    padding-top: 3rem;
    margin: 0 14% 0 0;
}
.principal__publicidad__img{
    min-width: 500px;
    max-width: 550px;
    height: 290px;
    object-fit: cover;
    padding: 10px;
}

/* CALCULADORA  */
.principal__calc{
    padding-top: 3.5rem;
    width: 50%;
    min-width: 450px;
  }

.principal__calc__display{
background-color: #fffefe;
height: auto;
min-width: 55%;
max-width: 500px;
margin: 0 2% 0 28%;
box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.5); 
}
.principal__calc__item{
    img{
        max-width: 50px;
    }
}


/* TABLE */
.table{
    transition: all 0.4s ease-out;
}
.table__cargarMas{
    text-align: left;
}
.table__row__button1{
    margin: 0.5rem 0 0.5rem 0;
    width: auto;
    border-radius: 10px;
    height: 40px;
}
.table__row__button2{
    width: auto;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 1rem;
}
@media(min-width: 1000px){
    .table{
        min-height: 550px;    
        display: grid;
        box-sizing: border-box;
        text-align: center;
        margin: 0 0 0 1rem;
    }
    .table th{
        font: bold;
        font-size: 1.5rem;
        max-height: 50px;
        padding: 0.5rem 0 0 0;
    }
    .table__row{
        max-width: 100%;
    }
    .table__row__logo{
        width: 25%;
        float: left;
    }
    .table__row__cant{
        width: 25%;
        float: left;
        padding: 1.5rem 0 0rem 0;
        font-size: 1.3rem;
        font-weight: 400;
    }

    .table__row__unPrice{
        width: 25%;  
        float: left;
        padding: 1.5rem 0 0rem 0;
        font-size: 1.3rem; 
        font-weight: 400;  
    }
    .table__row__total{
        width: 25%;
        float: left;
        padding: 1.5rem 0 0rem 0;
        font-size: 1.3rem; 
        font-weight: 400;  
    }
    .table__row__cant input{
        max-width: 80px;
        height: 30px;
        font-size: 1.5rem;
    }
    .table__row__unPrice input{
        max-width: 80px;
        height: 30px;
        font-size: 1.5rem;
        border: none;
        pointer-events: none;
    }
    .table__row__total input{
        border: none;
        pointer-events: none;
        max-width: 80px;
        height: 30px;
        font-size: 1.5rem;
    }
}




/* ROW */

@media(min-width: 800px) {
    .row--gutters{
        padding-left: 40px;
        padding-right: 40px;
    }
    .row--gutters-small>div{
        padding-left: 15px;
        padding-right: 15px;
    }
    .row--gutters-large{
        padding-right: 100px;
    }
    .row__b-margin-until-medium{
        margin-bottom: 0;
    }
    .row__medium-4{   
        float: left;
        width: 33%;
        padding: 2rem 2rem 0 2rem;
    }
    .row__medium-8{
        float: left;
        width: 65%;
    }        
    .row__medium-6{
        float: right;
        width: 45%;
        margin-left: 40px;
    }
}
@media (min-width: 1000px) {
    .row__large-4{   
        float: left;
        width: 33%;
    }
}
/*Reglas para igual altura*/
.row--equal-height-at-large{
    @media(min-width:1000px) {
        display: flex;
    }
    .row--equal-height-at-large > div{
        float: none;
        display: flex;
    }        
}

/* WRAPPER */
.wrapper{
    overflow: hidden;
    padding-left: 50px;
    padding-right: 18px;
    
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.wrapper--no-padding-until-large{
    padding-left: 0px;
    padding-right: 0px;
}
.wrapper--medium{
    max-width: 1200px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.wrapper--narrow{
    max-width: 470px;
}
.wrapper--b-margin{
    margin-bottom: 1rem;
}
.wrapper .wrapper{
    padding-left: 0px;
    padding-right: 0px;
}
@media (min-width: 530px){
    .wrapper--b-margin{
        margin-bottom: 3.8rem;
    }
}
@media (min-width: 1000px){
    .wrapper--no-padding-until-large{
        padding-right: 18px;
        padding-left: 18px;
    }
}


/* PAGE SECTION */
.page-section{
    padding: 1.5rem 0;    
}

.page-section--no-b-padding-until-large{
    padding-bottom: 0;
}
.page-section--blue{
    background-color: --fondo;
    color: black;
}

@media(min-width: 800px) {
    .page-section{
        padding: 3.5rem 0;
    }
}

@media(min-width: 1000px){
    .page-section--no-b-padding-until-large{
        padding-bottom:  4.5rem;
    }
    .page-section--no-b-padding-until-large{
        padding-bottom:  4.5rem;
    }
}


/* HEADLINE */
.headline{
    font-weight: 300;
    font-size: 1.9rem;
}
.headline--orange {
    color: var(--resaltar);
}
.headline--small{
    font-size: 1.2rem;
}
.headline--narrow{
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.headline--light{
    font-weight: 200;
}
.headline--b-margin-small{
    margin-bottom: .5em;
}
.headline--b-margin-large{
    margin-bottom: 1.6em;
}
.headline--no-bt-margin{
    margin-top: 0;
    margin-bottom: 0;
}

@media(min-width:530px){
    .headline{
    font-size: 2.8rem;
    }
    .headline--small{
    font-size: 2.5rem;
    
    padding-top: 5rem;

    }
}



/* GENERIC CONTENT */
.generic-content-container{
    p{
        line-height: 1.45;
        font-size: 1.2rem;
        margin: 0 0 1.7rem 0;
        font-weight: 300;
        a{
            font-weight: 600;
        }
    }
}



/* SECTION TITLE */
.section-title{
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}
.section-title .strong{
    font-weight: 600;
}
.section-title--less-margin{
    margin-bottom: 1.3rem;
    margin-top: 0;
}
.section-title__icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

@media(min-width:530px){
    .section-title{
        font-size: 3.8rem;
    }
    .section-title__icon{
        position: relative;
        top: 8px;
        margin-right: 1rem;
        margin-left: 0;
        margin-bottom: 0;
        display: inline-block;    
    }
}


/* FEATURE ITEM */
.feature-item{
    position: relative;
    margin-bottom: 3.8rem;
}
.feature-item h3{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    margin-top: 0.7em;
    margin-bottom: 0.8rem;
}
.feature-item__icon{
    position: relative ;
    display: block;
    margin: 0 auto;
}
@media(min-width:530px) {
    .feature-item{
        padding-left: 90px; 
    }
    .feature-item h3{
        text-align: left;
        margin-top: 1em;
        font-size: 1.8rem;
    }
    .feature-item__icon{
        position: absolute;
        left: 0;
    }
}




/*  SITE FOOTER */
.site-footer{
    background-color: white;
    color: black;
    padding: 0.5rem 0;
    text-align: center;
    display: inline-block;
    position: absolute;
    width: 100%;
}


.site-footer__text{
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: 200;
    width: 100%;
}
@media(min-width: 800px){
    .site-footer__text{
        margin-bottom: 0;
        margin-right: 1rem;
    }
}
.site-footer__row{
    justify-content: space-between;    
}

/* SOCIAL ICONS  */


.social-icons{
    text-align: center;
}
.social-icons__icon{
    background-color: var(--resaltar);
    display: inline-block;
    width: 33%;
    height: 72px;
    margin: 0 5px 5px 5px;
    position: relative;
}
.social-icons__icon img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
@media (min-width:530px){
    .social-icons__icon{
        width: 72px;
    }
    .social-icons__icon{
        width: 72px;
    }
}


/*2da Pagina FINCOMPRA */
.site-footer-2{
    background-color: white;
    color: black;
    padding: 0.5rem 0;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.principal-2{
    padding-top: 73px;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
    
    max-width: 1300px;
    margin: 0 10% 0 20%;
}
.tablaResumen{
    background-color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem 0 2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.tablaResumen__row{
    height: 2rem;
}
.tablaResumen__row__product{
    width: 8rem;
}
.tablaResumen__row__cant{
    width: 13rem;
    text-align: left;
}
.tablaResumen__row__total{
    text-align: left;
    width: 10rem;
}
.tablaResumen--total{
    font-size: 1.5rem;
    padding: 0.3rem 2rem 0 2rem;
}

.principal-text{
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: left;
    //width: 100%;
}
.principal-text__bloque{
    display: flex;
    flex-direction: row;
}
.principal-text__bloque__col1{
    width: 30%;
    display:flex;
    flex-direction: column;
}
.principal-text__bloque__col1 img{
    width: 100px;
    float: left;
}
.principal-text__bloque__col2{
    width: 50%;
    font-size: 2.5rem;
    margin-left: 8rem;
}
.principal-text__bloque__col2 img{
    width: 150px;
}
.principal-text__bloque__col2 p{
    margin: 0;
}