html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #333;
    background-color: rgba(230, 253, 247, 0.9);
}
img{
    max-width: 100%;
    height: auto;
}
*{
    box-sizing: border-box; /*para que el browser calcule el padding dentro del ancho de cada div y no se lo agregue despues*/
}
a{
    color: $mainOrange;
}