.page-section{
    padding: 1.5rem 0;    
}

.page-section--no-b-padding-until-large{
    padding-bottom: 0;
}
.page-section--blue{
    background-color: $pastel;
    color: black;
}

@media(min-width: 800px) {
    .page-section{
        padding: 3.5rem 0;
    }
}

@media(min-width: 1000px){
    .page-section--no-b-padding-until-large{
        padding-bottom:  4.5rem;
    }
    .page-section--no-b-padding-until-large{
        padding-bottom:  4.5rem;
    }
}