.primary-nav{
    padding-top: 0.5rem;
}
.primary-nav--pull-right{
    float: none;
    text-align: center;
}
.primary-nav ul {
    margin: 0;
    padding: 0;
}
.primary-nav ul::after {
    content: "";
    clear: both;
    display: table;
}

.primary-nav li {
    list-style: none;
    display: inline-block;
    float: none;
    padding-right: 0.4rem;
}
.primary-nav a {
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    
    padding: 0.5rem 0.2rem;
    font-size: 0.8rem;
    background-color: rgba($mainBlue, .5);
}
@media (min-width: 800px) {
    .primary-nav{
        padding-top: 0;
    }
    .primary-nav--pull-right{
        float: right;
    }
    .primary-nav li {
        float: left;
        display: block;
        padding-right: 1.2rem;
    }
    .primary-nav a {
        font-size: 1rem;
        padding: 0.7rem 0;
        background-color: transparent;
    }
    .primary-nav a .is-current-link{
        color: #fabb69;
    }
}