.section-title{
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}
.section-title .strong{
    font-weight: 600;
}
.section-title--less-margin{
    margin-bottom: 1.3rem;
    margin-top: 0;
}
.section-title__icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}
.section-title--blue{
    color: $mainBlue;
}
@media(min-width:530px){
    .section-title{
        font-size: 3.8rem;
    }
    .section-title__icon{
        position: relative;
        top: 8px;
        margin-right: 1rem;
        margin-left: 0;
        margin-bottom: 0;
        display: inline-block;    
    }
}